@use "sass:map";

/**
 * Layout breakpoints
 * $mobile: screen width below $desktop
 * $desktop: screen width at or above this value
 */
$breakpoints: (
  desktop: 1200px,
);

$mobile: "(max-width: #{map.get($breakpoints, desktop) - 1px})";
$desktop: "(min-width: #{map.get($breakpoints, desktop)})";

$pageWidth: 800px;
$sidePanelWidth: 280px;
$topSpacing: 4rem;
$boldWeight: 600;
$semiBoldWeight: 500;
$normalWeight: 400;

$mobileGrid: (
  templateRows: "auto auto auto auto auto",
  templateColumns: "minmax(0, 1fr)",
  rowGap: "5px",
  columnGap: "5px",
  templateAreas: '"grid-sidebar-left"\
      "grid-header"\
      "grid-center"\
      "grid-sidebar-right"\
      "grid-footer"',
);
$desktopGrid: (
  templateRows: "auto auto auto",
  templateColumns: "#{$sidePanelWidth} minmax(0, 680px) #{$sidePanelWidth}",
  rowGap: "5px",
  columnGap: "2rem",
  templateAreas: '"grid-sidebar-left grid-header grid-sidebar-right"\
      "grid-sidebar-left grid-center grid-sidebar-right"\
      "grid-sidebar-left grid-footer grid-sidebar-right"',
);